<nav class="sidebar">
  <!-- top icons -->
  <div class="top-part-icons">
    <ul>
      <li>
        <img src="assets/images/home-icon.jpg" alt="Logo" class="logo">
      </li>
      <li>
        <img src="assets/images/bar-chart.png" alt="Logo" class="logo">
      </li>
      <li>
        <img src="assets/images/fusion-chart.jpeg" alt="Logo" class="logo">
      </li>
      <li>
        <img src="assets/images/users-icon.png" alt="Logo" class="logo">
      </li>
    </ul>
  </div>
  <!-- buttom icons -->
  <div class="bottom-part-icons">
    <ul>
      <li>
        <img src="assets/images/setting-icon.jpg" alt="Logo" class="logo">
      </li>
      <li>
        <img src="assets/images/vector-users-icon.jpg" alt="Logo" class="logo">
      </li>
    </ul>
  </div>
</nav>